(let [{% for line in read_lines %}
  {%- if loop.first == false %}
      {% endif %}{{ line }}
  {%- endfor %}]
  {% for line in nested_lines %}
  {%- if loop.first == false %}
  {% endif %}{{ line }}
  {%- endfor %})
